#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 14px;
  color: #161A30;
}

.page {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.deleteCardButton:hover::before,
.buttonReset:hover::before,
.buttonAdd:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.deleteCardButton:disabled::before,
.buttonReset:disabled::before,
.buttonAdd:disabled::before {
  display: none;
}
